.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

coverage.txt
.coveralls.yml
**/test_reports
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db